.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
}

.link-button:hover,
.link-button:visited,
.link-button:focus {
  text-decoration: none;
}
