@import "./assets/styles/salesforce-lightning-design-system-ltng.css";

.slds-form-element__label {
  font-size: 20px;
  font-weight: bold;
}

.slds-page-header {
  font-size: 25px;
  font-weight: bold;
}
